*{
  box-sizing: border-box;
}

html, body {
  background: #a2bee9;
  background-size: cover;
}

.container {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-family: "Raleway", sans-serif;
  color: #595959;
}

.main {
  padding: 20px;
  margin: -20px;
}

.title {
  text-align: center;
  font-size: 36px;
}

form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  display: flex;
}

input[type="text"] {
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #595959;
  flex-grow: 1;
}

button {
  font-size: 1.5rem;
  background-color: #ffffff;
  outline: 0;
  border: none;
  color: #595959;
}

.todoList {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

ul {
  padding-left: 0px;
  list-style: none;
  margin-top: 10px;
}

li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 15px 0;
  font-size: 1rem;
  color: #595959;
}

.edit-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0 5px;
  border: 1px solid #595959;
  border-radius: 7px;
}


i {
  cursor: pointer;
}

i:hover{
  color: lightcoral;
}

.todo-item {
  flex-grow: 1;
  cursor: pointer;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: lightcoral;
  padding: 7px 10px;
  border: 1px solid lightcoral;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn:hover {
  background-color: lightcoral;
  border: 1px solid lightcoral;
  color: #ffffff;
}

.alert{
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.alert-info{
  background-color: #595959;
  color: #fff;
}

.alert-success{
  background-color: #5cb85c;
  color: #fff;
}

.alert-danger{
  background-color: #d9534f;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .container {
    width: inherit;
  }
}
